*{
    background-color: gray;
}

h1 {
    font-size: 2.5em;
    margin: 1em;
}

header {
    text-align: center;

}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: aliceblue;
    max-width: 75vw;
    margin: 0 auto
}

.tile {
    border: 3px dashed black;
    width: 200px;
    height: 200px;
    margin: 2px;
}


footer {
    text-align: center;
}